
html, body {
  background-image:url("../img/whale.jpg");
  background-size: cover;


  }

  body{
  padding: 80px;
  opacity: 90%;
  font-family: 'Philosopher', sans-serif;
  font-size:20px;
  color: #FFFFFF;
  text-transform: lowercase;
  text-shadow: 0 0 2px #1f3135;
  letter-spacing: 0.01em;
  word-spacing: 0.1em;
}

h1, h2, h3 {
font-family: 'Norican';
text-decoration: underline overline wavy #88a8b4;
display: block;
text-transform: lowercase;
text-shadow: 0 0 2px #1f3135;
font-weight: bold;
letter-spacing: 0.01em;
word-spacing: 0.1em;
color: #fff;
font-size:50px;

}

header{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 92%;
  height: auto;
  padding: 20px;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background-color:rgba(192,192,192,0.6);



}

header:hover{
  width: 80%;
  background-color: #074a5d;
  transition-duration: 2s;

}

.columnqueen {
    column-count: 3;
    column-gap: 40px;
    column-rule: 5px solid #88a8b4;


}

footer{
  position: relative;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 10%;
  height: auto;
  padding: 1px;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background-color: rgba(192,192,192,0.6);
  color: #FFFFFF;
  font-family: 'Norican', cursive;

}

footer:hover {
  width: 20%;
  background-color: #074a5d;
  transition-duration: 2s;
}
